<!DOCTYPE html>
<html>
<head>
  <title>Quizzify</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>

  <div class="navbar navbar-default navbar-fixed-top">
    <div class="container" id="bar">



      <ul class="nav navbar-nav">
              <div class="navbar-header hidden-xs">
        <li><%= link_to "Q", root_path, class: 'navbar-brand hidden-xs' %></li>
      </div>
        <li></li>
        <li></li>
      </ul>
      <ul class="nav navbar-right">
        <li><%=link_to "FAQ", faq_path %></li>

      </ul>
    </div>
  </div>


<%= yield %>

</body>
</html>
