<!DOCTYPE html>
<html>
<head>
  <title>Quizzify</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body class="wrapper">



<%= yield %>

<!---////// Demo Modal ///////////////////////////-->
   

<br><br>
    <div class="footer">
      <p><%=link_to "Privacy Policy", privacy_path%> | <%=link_to "Terms & Conditions", terms_path%> </p>
      Copyright 2014, Quizzify LLC
    </div>
  </div>
</body>
</html>

<script>
 $(document).ready(function() { 
   $('input[name=ans]').change(function(){
        $('form').submit();
   });
  });
 </script>
